.contact {

    background: linear-gradient(217deg, rgba(203, 210, 218, 0.747), rgba(60, 99, 228, 0) 70.71%), 
                linear-gradient(127deg, rgba(25, 83, 150, 0.8), rgb(33, 157, 105) 70.71%), 
                linear-gradient(336deg, rgba(243, 80, 4, 0.8), rgba(25, 83, 150, 0.8) 70.71%); 
    margin-top: -20px;

    @media screen and (max-width: 999px) {
    &__title {
        font-size: 1.5rem;
        padding-top: 5%;
    }}

    @media screen and (min-width: 1000px) { 
    &__title {
        font-size: 3rem;
        padding-top: 5%;
    }}
    
    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        font-size: 16px;
        margin-left: 36px;
        margin-right: 36px;
  
    }

    &__name {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 999px) {
    &__name-label {
        font-size: larger;
        float:left;
        width: 30%;
        text-align:right;
        margin-right:15px;
    }}

    @media screen and (min-width: 1000px) {
    &__name-label {
        font-size: larger;
        float:left;
        width: 30%;
        text-align:right;
        margin-right:15px;
    }}
    
    &__name-field {   
        display: block;
        box-sizing: border-box;
        border: 1px black solid;
        border-radius: 5px;
        height: 25px;
        font-size: large;
        background-color: lightyellow;
        margin-right: 25%;
        float: left;
        width: 30%;
    }
    
    &__email {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    @media screen and (max-width: 999px) {
    &__email-label {
        font-size: larger;
        float:left;
        width: 30%;
        text-align:right;
        margin-right:15px;
    }}

    @media screen and (min-width: 1000px) {
    &__email-label {
        font-size: larger;
        float:left;
        width: 30%;
        text-align:right;
        margin-right:15px;
    }}
        
    &__email-field {   
        display: block;
        box-sizing: border-box;
        border: 1px black solid;
        border-radius: 5px;
        height: 25px;
        font-size: large;
        background-color: lightyellow;
        margin-right: 25%;
        float: left;
        width: 30%;
    }
   
    &__telephone {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    @media screen and (max-width: 999px) {
    &__telephone-label {
        font-size: larger;
        float:left;
        width: 30%;
        text-align:right;
        margin-right:15px;
    }}

    @media screen and (min-width: 1000px) {
    &__telephone-label {
        font-size: larger;
        float:left;
        width: 30%;
        text-align:right;
        margin-right:15px;
    }}
    
    &__telephone-field {   
        display: block;
        box-sizing: border-box;
        border: 1px black solid;
        border-radius: 5px;
        height: 25px;
        font-size: large;
        background-color: lightyellow;
        margin-right: 30%;
        float: left;
        width: 20%;
    }

    &__selector {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    @media screen and (max-width: 999px) {
    &__selector-label {
        font-size: larger;
        float:left;
        width: 30%;
        text-align:right;
        margin-right:15px;
    }}

    @media screen and (min-width: 1000px) {
    &__selector-label {
        font-size: larger;
        float:left;
        width: 30%;
        text-align:right;
        margin-right:15px;
    }}
    
    &__selector-field {   
        display: block;
        box-sizing: border-box;
        border: 1px black solid;
        border-radius: 5px;
        height: 25px;
        font-size: large;
        background-color: lightyellow;
        margin-right: 30%;
        float: left;
        width: 20%;
    }

    &__message {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 999px) {
    &__message-label {
        font-size: larger;
        float:left;
        width: 30%;
        text-align:right;
        margin-right:15px;
    }}

    @media screen and (min-width: 1000px) {
    &__message-label {
        font-size: larger;
        float:left;
        width: 30%;
        text-align:right;
        margin-right:15px;
    }}
        
    &__message-field {   
        display: block;
        box-sizing: border-box;
        border: 1px black solid;
        border-radius: 5px;
        height: 75px;
        font-size: large;
        background-color: lightyellow;
        margin-right: 25%;
        float: left;
        width: 30%;
    }

    &__button {
        width: 250px;
        background-color: lightyellow;
        color: midnightblue;
        font-size: 24px;
        height: 3rem;
        border-radius: 10px;
        margin-top: 15px;
    }

    @media screen and (min-width: 600px) {
    &__button {
        margin-left: 15%;
    }}

    @media screen and (min-width: 768px) {
    &__button {
        margin-left: 32.5%;
    }}
    
};