.footer {

    
    @media screen and (max-width: 599px) {
    &__container { 
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
    }}
    
    @media screen and (min-width: 600px) {
    &__container { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
    }}

    &__sm-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 10%;
        margin-top: 30px;
        margin-left: 10px;
    

    }

    &__copywrite {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;

    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-decoration-style: none;
        text-decoration-color: black;
        margin-bottom: 15px;
        margin-right: 10px;
    }
    &__contact-phone {
        align-self: flex-end;
        text-decoration: none;
        color: black;
    }
    &__contact-email {
        align-self: flex-end;
        text-decoration: none;
        color: black;
    }

}