.capstone {

    background: linear-gradient(217deg, rgba(203, 210, 218, 0.747), rgba(60, 99, 228, 0) 70.71%),
    linear-gradient(127deg, rgba(25, 83, 150, 0.8), rgba(90, 160, 224, 0) 70.71%),
    linear-gradient(336deg, rgba(12, 12, 104, 0.8), rgba(25, 83,150, 0.8) 70.71%);    

    &__scr {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
    }

    &__scr-intro {
        display: block;
        margin-right: 5px;
    }

    &__scr-result {
        display: block;
        margin-left: 5px;
    }

}